body {
    color: black;
}

.box {
    color: white;
    font-size: 100px;
    text-align: center;
    text-shadow: 4px 4px 0 rgba(0,0,0,0.1);
    padding: 10px;
}

.box1 { background: blue; }
.box2 { background: yellow; }
.box3 { background: orange; }
.box4 { background: purple; }
.box5 { background: green; }
.box6 { background: gray; }
.box6 { background: red; }
.box7 { background: pink; }
.box8 { background: violet; }
.box9 { background: #ddd; }
.box10 { background: #ccc; }


//Main-axis: Default - (left-right)
//Cross-axis: Default - (top-bottom)
.container {
    display: flex;
    border: 10px solid goldenrod;
    min-height: 100vh; //vh = viewport height
    //flex-direction: row; //Default of flex container
    //flex-direction: column;
    //flex-direction: row-reverse;
    //flex-direction: column-reverse;
    //flex-wrap: wrap; //Will wrap based on the width of container and flex items
    
    // flex-wrap: wrap
    // - Keeps flex items width
    // - Wraps based on width of container
    // - Flex items height depends upon the number of items and their width.
    //   There will be multiple rows of flex items with a total hight
    //   equal to the height of the container

    

}



.box {
    //width: 33.33333333333%;
}

